{#
/**
 * @file
 * Default theme implementation for webform submission data.
 *
 * Available variables:
 * - webform_submission: The webform submission.
 * - webform: The webform.
 *
 * @see template_preprocess_webform_submission_data()
 *
 * @ingroup themeable
 */
#}
<html lang="it">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    {{ entity_print_css }}
  </head>
  <body>

    {# The footer is repeated on all pages and must be printed first. #}
    <div id="footer">
    </div>

    <div id="header">
    </div>

    <div id="content">
      <div class="content_header">
        <p>Al Dirigente scolastico<br />
         {{ data.istituto }} <br />
         {{ data.mail_istituto }}
        </p>
      </div>
      <div>
        <p>Oggetto: <strong>Permessi retribuiti (Personale DOCENTE Tempo determinato) - {{ data.cognome }} {{ data.nome }}</strong></p>
      </div>
      <div class="corpo">
        <p>
          Il/La sottoscritto/a {{ data.cognome }} {{ data.nome }}
          in servizio presso {{ data.sede_di_servizio }}
          in qualità di {{ data.in_qualita_di_ }} a tempo {{ data.a_tempo }}
          <em>ai sensi del C.C.N.L. comparto scuola del 29.11.2007,</em><br>
        </p>
        <p class="center-bold">CHIEDE</p>
        <p>
            Il seguente periodo di assenza per: <strong>{{ data.tipologia_richiesta }}</strong><br>
            dal: <strong>{{ data.data_inizio|date('d.m.Y') }}</strong> al: <strong>{{ data.data_fine|date('d.m.Y') }}</strong>
            per un numero totale di giorni pari a: <strong>{{ data.numero_giorni }}</strong>
        </p>
        <p><strong>Autocertificazione</strong><br />
            {{ data.note}}
        </p>
        <div class="data_invio">
          <p>Data {{ data.data_compilazione|date('d.m.Y') }}</p>
        </div>
        <div class="firma_docente">
          <div class="firma">
            <strong>Firma</strong><br>
            {{ data.cognome }} {{ data.nome }}<br />
            codice fiscale {{ data.codice_fiscale }}<br />
            {{ data.mail_user }}
          </div>
        </div>
      </div>
      {#  <p style="page-break-before: always;">the second page</p>#}
      <div class="autorizzazione">
        <p>
        </p>
        <div class="firma_ata"></div>
        <div class="firma_ds"></div>
      </div>
    </div>
    {#
    {{ kint(data) }}
     {{ kint(elements) }}
    {{ kint(content) }}
#}
  </body>
</html>
