{#
/**
 * @file
 * Default theme implementation for webform submission data.
 *
 * Available variables:
 * - webform_submission: The webform submission.
 * - webform: The webform.
 *
 * @see template_preprocess_webform_submission_data()
 *
 * @ingroup themeable
 */
#}
<html lang="it">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    {{ entity_print_css }}
  </head>
  <body>

    {# The footer is repeated on all pages and must be printed first. #}
    <div id="footer">
    </div>

    <div id="header">
    </div>

    <div id="content">
      <div class="content_header">
        <p>Al Dirigente scolastico<br />
		      {{ data.istituto }} <br />
		      {{ data.mail_istituto }}
        </p>
      </div>
      <div>
        <p>Oggetto: <strong>Richiesta permessi straordinari per diritto allo studio (150 ore) - {{ data.cognome }} {{ data.nome }}</strong></p>
      </div>
      <div class="corpo">
        <p>
          Il/La sottoscritto/a {{ data.cognome }} {{ data.nome }}
          in servizio presso {{ data.sede_di_servizio }}
          in qualità di {{ data.in_qualita_di_ }} a {{ data.a_tempo }}
		      residente in {{ data.indirizzo }}, iscritto presso: {{ data.iscrizione_presso }}
        </p>
        <div>{{ elements.processed_text['#text']|raw }}</div>
		    <table style="width:70%;">
		      <thead>
		      </thead>
          <tbody>
            <tr>
              <th>Giorno</th>
              <th>Dalle Ore</th>
              <th>Alle Ore</th>
              <th>Totale ore giorno</th>
            </tr>
            {% for item in data.permesso_orario %}
              <tr>
                <td>{{ item.giorno|date('d/m/Y') }}</td>
                <td>{{ item.ora_inizio|date('H:i') }}</td>
                <td>{{ item.ora_fine|date('H:i') }}</td>
                <td>{{ item.totale_ore }}</td>
              </tr>
            {% endfor %}
          </tbody>
		    </table>
        <p>Per un totale di ore <strong>{{ data.per_un_totale_di_ore }}</strong></p>
        {% if data.note %}
          <p>Note<br /> {{ data.note }}</p>
        {% endif %}
        <div class="data_invio">
          <p>Data,  {{ data.data_compilazione|date('d/m/Y') }}</p>
        </div>
        <div class="firma_docente">
          <div class="firma">
            <strong>Firma</strong><br>
            {{ data.cognome }} {{ data.nome }}<br />
            codice fiscale {{ data.codice_fiscale }}<br />
            {{ data.mail_user }}
          </div>
        </div>
      </div>
    </div>
    {#  <p style="page-break-before: always;">the second page</p>#}
    <div class="autorizzazione">
      <p>
      </p>
      <div class="firma_ata"></div>
      <div class="firma_ds"></div>
    </div>
    {#
    {{ kint(data) }}
     {{ kint(elements) }}
    {{ kint(content) }}
#}
  </body>
</html>
